 .u-section-1 {
  background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-1 .u-sheet-1 {
  min-height: 205px;
}

.u-section-1 .u-image-1 {
  height: 198px;
  margin-top: 0;
  margin-bottom: 7px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 175px;
  }

  .u-section-1 .u-image-1 {
    height: 168px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 138px;
  }

  .u-section-1 .u-image-1 {
    height: 128px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 105px;
  }

  .u-section-1 .u-image-1 {
    height: 95px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 74px;
  }

  .u-section-1 .u-image-1 {
    height: 64px;
  }
} .u-section-2 {
  background-image: linear-gradient(#478ac9, #db545a);
  min-height: 791px;
}

.u-section-2 .u-image-1 {
  width: 9px;
  height: 9px;
  margin: 300px auto 0 calc(((100% - 1140px) / 2) + 243px);
}

.u-section-2 .u-group-1 {
  width: 339px;
  min-height: 343px;
  height: auto;
  margin: -11px calc(((100% - 1140px) / 2) + 65px) 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  margin: 118px 32px 0 20px;
}

.u-section-2 .u-image-2 {
  width: 123px;
  height: 108px;
  margin: -49px 52px 0 auto;
}

.u-section-2 .u-image-3 {
  width: 120px;
  height: 60px;
  margin: -313px auto 0 32px;
}

.u-section-2 .u-image-4 {
  width: 149px;
  height: 310px;
  margin: -621px calc(((100% - 1140px) / 2) + 65px) 0 auto;
}

.u-section-2 .u-image-5 {
  width: 159px;
  height: 245px;
  margin: -221px auto 0 calc(((100% - 1140px) / 2) + 32px);
}

.u-section-2 .u-image-6 {
  width: 414px;
  height: 262px;
  margin: -309px auto 0 calc(((100% - 1140px) / 2) + 243px);
}

.u-section-2 .u-image-7 {
  width: 195px;
  height: 263px;
  margin: 221px auto 0 0;
}

.u-section-2 .u-image-8 {
  width: 331px;
  height: 249px;
  margin: -484px auto 60px calc(((100% - 1140px) / 2) + 252px);
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-top: 255px;
    margin-left: calc(((100% - 940px) / 2) + 186px);
  }

  .u-section-2 .u-group-1 {
    margin-top: 86px;
    margin-right: calc(((100% - 940px) / 2) + 11px);
    height: auto;
  }

  .u-section-2 .u-image-2 {
    height: 109px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -314px;
  }

  .u-section-2 .u-image-4 {
    margin-right: calc(((100% - 940px) / 2) + 11px);
  }

  .u-section-2 .u-image-5 {
    margin-top: -277px;
    margin-left: calc(((100% - 940px) / 2) + -32px);
  }

  .u-section-2 .u-image-6 {
    margin-top: -348px;
    margin-left: calc(((100% - 940px) / 2) + 186px);
  }

  .u-section-2 .u-image-7 {
    margin-top: 266px;
  }

  .u-section-2 .u-image-8 {
    margin-top: -529px;
    margin-left: calc(((100% - 940px) / 2) + 195px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-top: 241px;
    margin-left: calc(((100% - 720px) / 2) + -11px);
  }

  .u-section-2 .u-group-1 {
    margin-top: 100px;
    margin-right: calc(((100% - 720px) / 2) + 11px);
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: -50px;
    margin-right: 8px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -313px;
  }

  .u-section-2 .u-image-4 {
    margin-right: calc(((100% - 720px) / 2) + 11px);
  }

  .u-section-2 .u-image-5 {
    width: 139px;
    height: 213px;
    margin-top: 90px;
    margin-left: calc(((100% - 720px) / 2) + 199px);
  }

  .u-section-2 .u-image-6 {
    width: 349px;
    height: 221px;
    margin-top: -658px;
    margin-left: calc(((100% - 720px) / 2) + -11px);
  }

  .u-section-2 .u-image-7 {
    margin-top: 281px;
  }

  .u-section-2 .u-image-8 {
    width: 237px;
    height: 178px;
    margin-top: -544px;
    margin-left: calc(((100% - 720px) / 2) + -2px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2) + -11px);
  }

  .u-section-2 .u-group-1 {
    width: 259px;
    min-height: 325px;
    margin-top: 35px;
    margin-right: calc(((100% - 540px) / 2) + -17px);
  }

  .u-section-2 .u-text-1 {
    margin-top: 8px;
    margin-right: 91px;
    margin-left: 9px;
  }

  .u-section-2 .u-image-2 {
    width: 103px;
    height: 91px;
    margin-top: -48px;
    margin-right: 28px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -267px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-image-4 {
    width: 118px;
    height: 246px;
    margin-top: -546px;
    margin-right: calc(((100% - 540px) / 2) + -17px);
  }

  .u-section-2 .u-image-5 {
    margin-top: 244px;
    margin-left: calc(((100% - 540px) / 2) + 159px);
  }

  .u-section-2 .u-image-6 {
    margin-top: -740px;
    margin-left: calc(((100% - 540px) / 2) + -11px);
  }

  .u-section-2 .u-image-8 {
    margin-left: calc(((100% - 540px) / 2) + -2px);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    margin-top: 466px;
    margin-right: calc(((100% - 340px) / 2) + 144px);
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    width: 174px;
    min-height: 254px;
    margin-top: -257px;
    margin-right: calc(((100% - 340px) / 2) + -27px);
  }

  .u-section-2 .u-text-1 {
    margin-top: 34px;
    margin-right: 36px;
    margin-left: 10px;
  }

  .u-section-2 .u-image-2 {
    width: 72px;
    height: 64px;
    margin-top: -26px;
    margin-right: 13px;
  }

  .u-section-2 .u-image-3 {
    width: 98px;
    height: 49px;
    margin-top: -215px;
  }

  .u-section-2 .u-image-4 {
    width: 109px;
    height: 227px;
    margin-top: -458px;
    margin-right: calc(((100% - 340px) / 2) + -27px);
  }

  .u-section-2 .u-image-5 {
    width: 170px;
    height: 261px;
    margin-top: 68px;
    margin-left: calc(((100% - 340px) / 2) + -43px);
  }

  .u-section-2 .u-image-6 {
    width: 258px;
    height: 163px;
    margin-top: -534px;
    margin-left: calc(((100% - 340px) / 2) + -31px);
  }

  .u-section-2 .u-image-7 {
    width: 141px;
    height: 190px;
    margin-top: 402px;
  }

  .u-section-2 .u-image-8 {
    width: 240px;
    height: 181px;
    margin-top: -319px;
    margin-right: calc(((100% - 340px) / 2) + -27px);
    margin-left: auto;
  }
}