 .u-section-1 {
  background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-1 .u-sheet-1 {
  min-height: 487px;
}

.u-section-1 .u-text-1 {
  margin: 29px 120px 0 681px;
}

.u-section-1 .u-image-1 {
  width: 148px;
  height: 69px;
  margin: -69px auto 0 310px;
}

.u-section-1 .u-image-2 {
  width: 120px;
  height: 120px;
  margin: 82px 138px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 130px;
  height: 130px;
  margin: -96px auto 0 319px;
}

.u-section-1 .u-image-4 {
  width: 300px;
  height: 199px;
  margin: -187px 317px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 195px;
  height: 203px;
  margin: -179px auto 60px 65px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 20px;
    margin-left: 581px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 17px;
    margin-right: 98px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -411px;
    margin-left: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 381px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -111px;
    margin-left: 32px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 115px;
    margin-right: 284px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -181px;
    margin-left: 41px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 51px;
    margin-right: 39px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -189px;
    margin-left: 54px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 753px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 201px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -90px;
    margin-left: 23px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 99px;
    margin-right: 189px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -176px;
    margin-left: 32px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 46px;
    margin-right: 9px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -95px;
    margin-left: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 116px;
    margin-left: 1px;
  }

  .u-section-1 .u-image-1 {
    width: 107px;
    height: 50px;
    margin-top: -12px;
    margin-right: 9px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 45px;
    margin-right: auto;
    margin-left: 13px;
  }

  .u-section-1 .u-image-3 {
    width: 101px;
    height: 101px;
    margin-top: -152px;
    margin-right: 12px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: 52px;
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    margin-top: 29px;
    margin-left: auto;
  }
}