 .u-section-1 {
  background-image: linear-gradient(black, rgba(0,0,0,0));
}

.u-section-1 .u-sheet-1 {
  min-height: 160px;
}.u-section-2 .u-sheet-1 {
  min-height: 505px;
}

.u-section-2 .u-custom-html-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  min-height: 366px;
  background-image: none;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 45px auto;
  padding: 10px 229px 10px 227px;
}

@media (max-width: 767px) {
  .u-section-2 .u-btn-1 {
    padding: 9px 195px 11px 194px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
    padding-right: 137px;
    padding-left: 137px;
  }
}.animClass {
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}